main{
    color: white;
    font-weight: 700;
}

body {
    background-image: url("images/rates-image.png");
    background-repeat: no-repeat;
    background-size: 2000px;
}

main .row> div{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-content: stretch;
} 

textarea{
    height: 100px;
}

label,input{
    line-height: 0.5em;
}

.submit{
    margin-top: 1.5em;
}

.submit input{
    border: none;
    background-color:#6B0F15;
    color: white;
}

.submit p{
    color: white;
    font-weight: 500;
    font-size: 0.8em;
}