@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: "Hind Vadodara", Arial, Helvetica, sans-serif;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 2000px;
    background-color: turquoise;
}

h3 {
    font-family: "Pridi", serif;
    font-weight: 600;
}

.container.rates {
    background-color: rgba(255, 255, 255, 0.507);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.col-md {
    padding: 1rem 2rem 1rem 2rem;
}